
.blog-post{
    margin-top: 14px;
}
.blogpost-img img{
    width: 100%;
    height: 300px;
    opacity: 0.5;
}
.blogpost-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.article-info{
    align-self: stretch;
    display: flex;
    justify-content: space-between;
    padding: 0 80px;
}
.articleinfo-left p{
    padding: 2px 0;
}
.blogpost-content .blogpost-para{
    padding: 20px 80px;
}
.blogpost-articles{
    display: flex;

}
.blogpost-article{
    flex-direction: column;
}
.feature-articles{
    margin-bottom: 30px;
}