@media (max-width: 1010px){
    .navbar{
        flex-direction: column;
        justify-content: start;
    }
    .left-side{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .search-text{
        width: 50%;
    }
   
    .content{
        max-width: 100vw;
    }
    .left-content{
        text-align: center;
    }
    .right-content{
        display: none;
    }
    .article{
        flex-direction: column;
        margin-top: 40px;
    }
    .article-img{
        align-self: center;
    }
    .year-choose{
        right: 0;
        top: 40px;
        margin: 12px 0;
    }
    .contact-content{
        height: 700px;
    }
    .form-control{
        max-width: 100%;
    }
    .contact-button{
        max-width: 50%;
    }
    .blogpost-articles{
        flex-direction: column;
    }
    .blog-post{
        max-width: 100%;
    }
    .article-info{
        padding: 0 12px;
        margin-top: 15px;
    }
    .blogpost-content .blogpost-para{
        padding: 20px 12px;
    }
}