@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&display=swap');

:root{
    --font1: "Baloo Bhai 2", sans-serif;
    --font2: "Roboto", sans-serif;
    --primary-background-color: #FE7A00;
}

.font1{
    font-family: var(--font1);
}
.font2{
    font-family: var(--font2);
}
.max-width1{
    max-width: 80vw;
}
.max-width2{
    max-width: 80vw;
}
.max-width3{
    max-width: 60vw;
}
.m-auto{
    margin-left: auto;
    margin-right: auto;
}
.right-side button{
    padding: 8px 18px;
    border: 2px solid black;
    border-radius: 6px;
    cursor: pointer;
    font-size: 17px;
    overflow-x: hidden;
}
.right-side button:hover{
  background-color: var(--primary-background-color);
  color: white;
}